.cabeçalho__menu-hamburguer {
    width: 16px;
    height: 16px;
    display: inline-block;
    background-image: url("../img/menu.png");
    background-repeat: no-repeat;
    background-position: center;
}

.cabeçalho {
    background-color: var(--cinza-claro);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.container {
    display: flex;
    align-items: center;
    width: 16px;
    height: 16px;
}

.container__imagem {
    padding: 1em;
    width: 16px;
    height: 16px;
}